
.openinginfo
{
    background-color: #1F4161;
    color: snow;
    justify-content: space-between;
    flex-direction: row;
}

.openinfo
{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: right;
    justify-content: right;
    justify-content: space-between;
    flex-direction: row;
}

.open
{
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;

}

.textWithopen
{   
    text-align: top;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    flex-direction: row;
}



.after_middle
{
    background-image: url("pedro-araujo-PDjYClxmnyk-unsplash.jpg");
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.hameenlinna
{
    background-color: rgba(196, 196, 196, 0.7);
    margin: 70px 30px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hmltext
{
    margin: 50px 20px 20px 20px;
}



.tre {
    background-color: rgba(196, 196, 196, 0.7);
    margin: 70px 30px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.tretext
{
    margin: 50px 20px 20px 20px;
}

.hamk
{
    background-color: rgba(196, 196, 196, 0.7);
    margin: 70px 30px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;

}
.hamktext
{
    margin: 50px 20px 20px 20px;
}

.img_open
{
    object-fit: cover;
    width: 20vw;
    max-width: 200px;
    max-height: 200px;
    padding-right: 2rem;
}

.img_hamk
{
    object-fit: cover;
    width: 20vw;
    max-width: 200px;
    max-height: 200px;
    padding-right: 2rem;
}

.img_hml
{
    object-fit: cover;
    width: 20vw;
    max-width: 200px;
    max-height: 200px;
    padding-left: 2rem;
}

.img_tre
{
    object-fit: cover;
    width: 20vw;
    max-width: 200px;
    max-height: 200px;
    padding-left: 2rem;
}