*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
    display: flex;
    height: 5em;  
    color: snow;
    background: #1F4161;
    width: 100%;
    flex-direction: row;
}

.title{
    font-weight: bold;
    margin-top: 0.55em;
    margin-left: 0.5em;
}
.logo{
    height: 4em;
    width: 4em;
    margin-top: 6px;
    margin-left: 0.5em;
}


.introimage{
    width: 100%;
}
@media screen and (min-width:393px) {
    
    
}